<h1>Burgers</h1>

<h2>Burgers to eat</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
        <div class="burgerText">{{id}}. {{burger_name}}</div>
        <button class="eatem btn btn-light" id="{{id}}" value="{{id}}">Devour!</button>    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that were eaten</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      <div class="burgerText">{{id}}. {{burger_name}}</div>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eat">Eat now or wait?</label><br>
    <input type="radio" name="devourerer" value="1" checked> Eat Me!<br>
    <input type="radio" name="devourerer" value="0"> Still chewing!
  </div>

  <button type="submit">Add Burger</button>
</form>
